* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
  box-sizing: border-box;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.286)),url(pexels-maxyne-barcel-10402282_1.png);
  width: fit-content;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
nav {
  display: flex;
  justify-content: space-around;
}
nav .logo{
  margin: 0 150px 0 0 ;
  
}
li {
  list-style: none;
  font-size: 20px;
  
}
.banner nav .menu{
  margin-left: 200px;
}
a {
  text-decoration: none;
  color: rgb(249, 225, 5);
}
nav ul {
  display: flex;
  margin: 0 250px 0 0;
  align-items: center;
  gap: 50px;
  font-weight: 500;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}
button {
  background-color: rgb(213, 13, 13);
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  color: rgba(236, 237, 238, 0.829);
  /* border: 1px solid;  */
  border-radius: px;
  font-weight: 5px;
  width: fit-content;
}
button:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}
/* h1 button {
  display: flex;
  flex-direction: column;
} */
.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 100px 0 150px; */
  margin-left: 300px;
  margin-top: 5%;
  /* justify-content: space-around; */
}
h1{
  color: rgb(252, 223, 1);
  font-size: 70px;
  text-align-last: center;
}
footer div{
  display: flex;
  justify-content: end;
  margin: 5px;
}
.mid div button{
  margin: 40px 0 0 0;
}
